<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteOptions Inherit

  RewriteCond %{REQUEST_URI} !/prebuilt_forms_ajax\.php$
  RewriteCond %{REQUEST_URI} !/upload\.php$
  RewriteCond %{REQUEST_URI} !/place_search_proxy\.php$
  RewriteCond %{REQUEST_URI} !.css$
  RewriteCond %{REQUEST_URI} !.js$
  RewriteCond %{REQUEST_URI} !.jpg$
  RewriteCond %{REQUEST_URI} !.png$
  RewriteCond %{REQUEST_URI} !/upload/
  RewriteRule ^.*$ - [F]

</IfModule>
