$colour-even-row: #f7f7f7;
$colour-odd-row: transparent;
$colour-hover-row-bg: #fff899;
$colour-hover-row: #333333;
$colour-select-row: #ffffff;
$colour-select-row-bg: #3333ee;

@mixin fa-box($border-color, $fill-color, $color) {
  border: solid $border-color 1px;
  border-radius: 2px;
  background-color: $fill-color;
  color: $color;
}

.fas, .far {
  margin: 3px;
  padding: 1px;
  &.fa-check-circle, &.fa-thumbs-up {
    color: green;
  }
  &.fa-check-double {
    @include fa-box(green, green, white);
  }
  &.fa-check {
    @include fa-box(green, white, green);
  }
  &.fa-check-square {
    color: orange;
  }
  &.fa-times-circle {
    color: red;
  }
  &.fa-times {
    @include fa-box(red, white, red);
    &.status-R5 {
      @include fa-box(red, red, white);
    }
  }
  &.fa-thumbs-down, &.fa-exclamation, &.fa-exclamation-circle, &.fa-exclamation-triangle {
    color: red;
  }
  &.fa-eye-slash, &.fa-cog, &.fa-clock {
    color: silver;
  }
}
table.es-data-grid {
  thead {
    .fa-sort {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
    .es-filter-row {
      input {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even), &:nth-child(even) td {
        background-color: $colour-even-row;
      }
      &:nth-child(odd), &:nth-child(odd) td {
        background-color: $colour-odd-row;
      }
      &:hover, &:hover td {
        color: $colour-hover-row;
        background-color: $colour-hover-row-bg;
      }
      &.selected, &.selected td {
        color: $colour-select-row;
        background-color: $colour-select-row-bg;
      }
      img {
        max-height: 60px;
        border-radius: 4px;
        margin: 0 2px;
        box-shadow: #aaa 0px 2px 4px 0px;
        &.multi {
          max-height: 45px;
        }
      }
    }
  }
}

.es-output-map {
  height: 500px;
}

.verification-buttons {
  * {
    display: inline-block;
    vertical-align: middle;
  }
  button {
    font-size: 120%;
    border: none;
    background: none;
    box-shadow: none;
    color: black;
    text-shadow: none;
    min-height: 25px;
    margin: 4px;
    &:hover {
      background: silver;
    }
  }
  .sep {
    height: 20px;
    width: 1px;
    background-color: silver;
    margin: 0 8px;
  }
}

.details-container {
  .ui-tabs-nav {
    border-bottom: solid silver 1px;
  }
  .ui-tabs .ui-tabs-panel {
    padding: 8px;
    min-height: 150px;
  }
  .record-details {
    th {
      width: 200px;
      padding: 0 0.5em;
    }
    td {
      padding: 0 0.5em;
    }
    .fas, .far {
      font-size: 130%;
    }
  }
  .recorder-experience {
    position: relative;
    min-height: 150px;
    th {
      width: 25%;
    }
    td {
      span {
        margin-left: 15px;
        display: inline-block;
        height: 15px;
        border-radius: 4px;
        box-shadow: #aaa 0px 2px 4px 0px;
        &.exp-V {
          background-color: green;
        }
        &.exp-C {
          background-color: silver;
        }
        &.exp-R {
          background-color: red;
        }
      }
    }
  }
}

.comment-popup {
  label {
    display: block;
    width: auto;
  }
  textarea {
    min-width: 300px;
    width: 100%;
    min-height: 250px;
  }
}

.field-taxon--accepted-name {
  font-style: italic;
}