$diameter: 180px;
$progress-font-size: 20px;
$progress-font-colour: white;
$shadow-colour: silver;
$file-box-width: 240px;
$file-box-padding: 20px;
$file-box-icon-size: 30px;

/* Progress spinner */
.progress-container {
  width: $diameter;
  margin: auto;
  position: relative;
  display: none;
  svg {
    height: $diameter;
    width: $diameter;
  }
  .progress-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: $progress-font-colour;
    font-size: $progress-font-size;
    top: $diameter / 2 - $progress-font-size / 2;
  }
}

/* Download file box */
#files {
  display: none;
  -webkit-box-shadow: 6px 7px 8px 1px $shadow-colour;
  -moz-box-shadow: 6px 7px 8px 1px $shadow-colour;
  box-shadow: 6px 7px 8px 1px $shadow-colour;
  width: $file-box-width;
  padding: $file-box-padding;
  margin: auto;
  /* Font aweswome file icon */
  .fas {
    font-size: $file-box-icon-size;
    margin-right: $file-box-icon-size / 3;
  }
}
