div.photo-checklist-item-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-around;
}
.panel-group div.photo-checklist-item {
  margin: 15px;
  justify-content: space-around;
  width: 200px;
}
.photo-checklist-item img {
  display: block;
  width: 100%;
}
.photo-wrap {
  position: relative;
  font-size: 21px;
  border: solid transparent 2px;
}
/* Photo button toolbar */
.photo-wrap div {
  position: absolute;
  top: 2px;
}
.photo-wrap div.shading {
  background: #ddd;
  opacity: 0.5;
  height: 26px;
  right: 2px;
  width: 65px;
  border-radius: 3px;
}
.photo-toolbar {
  right: 2px;
}
.photo-toolbar .upload-photo, .photo-toolbar a {
  color: #333;
}
.photo-toolbar .delete-photo {
  display: none;
}

.photo-wrap progress {
  position: absolute;
  bottom: 0;
  width: 98%;
  margin: 0 1%;
}
.photo-checklist-item .taxon-label {
  text-align: center;
  font-weight: bold;
}
.photo-wrap.dragover {
  border: dashed blue 2px;
}
/* Style changes once a photo uploaded. */
.user-photo .photo-toolbar .upload-photo {
  color: blue;
}
.user-photo .photo-toolbar .delete-photo {
  display: initial;
}
.user-photo .photo-wrap div.shading {
  width: 96px;
}
.photo-checklist-item.panel-success {
  background: #d6e9c6;
}