.card-gallery {
  min-height: 140px;
}
.card-gallery ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card-gallery ul li {
  flex-grow: 1;
  margin: 1%;
  width: 90%;
  box-sizing: border-box;
  position: relative;
  list-style-type: none;
  flex-basis: 23%;
}
.card-gallery ul li:hover {
  box-shadow: 0px 0px 21px 5px #aaaaaa;
}
.card-gallery ul li a {
  color: initial;
}
.card-gallery ul li a:hover {
  text-decoration: none;
}
.card-gallery ul li .panel-heading {
  padding: 0;
}
.card-gallery ul li .panel-heading img {
  object-fit: cover;
  max-height: 120px;
  width: 100%;
  margin: 0;
}
/* Missing image fallback icon */
.card-gallery ul li .panel-heading i {
  margin: 8px;
}
.card-gallery ul li .panel-body h3 {
  margin-top: 0;
}
.card-gallery ul li .panel-body p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
          line-clamp: 6;
  -webkit-box-orient: vertical;
}

#group-list-container {
  position: relative;
}

/* Prevent search button being slightly too high */
.ctrl-addons button .fas {
  margin: 0;
}

.form-inline label, .form-inline ul, .form-inline li {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.form-inline label {
  margin-right: 8px;
}
.form-inline ul {
  padding-left: 0;
}
#group-search {
  min-width: 300px;
}
#ctrl-wrap-group-search {
  margin-right: 15px;
}