.temporal-graphic.temporal-bar.lowlight {
    opacity: 0
}

.temporal-graphic.temporal-bar.highlight {
    opacity: 1
}

.temporal-graphic.brc-legend-item.lowlight {
    opacity: 0.5
}

.temporal-graphic.brc-legend-item.highlight {
    opacity: 1
}

.even-row {
    background-color: white !important;
}
.odd-row {
    background-color: lightgray !important;
}