span.matched {
  color: green;
}
span.unmatched {
  color: red;
}
button.non-unique-name {
  margin-left: 2em;
}
#scratchpad-input, textarea {
//  width: 400px;
}
#scratchpad-input {
  display: inline-block;
  min-height: 200px;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  background: white;
}
#scratchpad-save-form div {
  width: 450px;
}
#scratchpad-save-form label {
  display: block;
}
#scratchpad-save-form input[type=text], #scratchpad-save-form textarea {
  width: 100%;
  box-sizing: border-box;
}
#scratchpad-save-form input[type=button], #scratchpad-save-form input[type=submit] {
  padding: 4px;
  margin: 0.5em;
}