span.matched {
  color: green;
}
span.unmatched {
  color: red;
}
a.non-unique-name {
  margin-left: 2em;
  text-align: left;
}
a.non-unique-name.preferred {
  background: url(../images/nuvola/ok-16px.png) right center no-repeat;
  padding-right: 20px;
}
#scratchpad-input {
  display: inline-block;
  min-height: 400px;
  width: 75%;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  background: white;
}
/* IE */
#scratchpad-input p {
  margin: 0;
}
#scratchpad-save-form div {
  width: 450px;
}
#scratchpad-save-form label {
  display: block;
}
#scratchpad-save-form input[type=text], #scratchpad-save-form textarea {
  width: 100%;
  box-sizing: border-box;
}
#scratchpad-save-form input[type=button], #scratchpad-save-form input[type=submit] {
  padding: 4px;
  margin: 0.5em;
}