#time-lapse-container {
  height: auto;
  overflow: hidden;
}
#selection-toolbar {
  float: right;
  width: 200px;
  background-color: white;
  border-radius: 4px;
  border: solid silver 1px;
  padding: 8px;
  box-sizing: border-box;
}
#selection-toolbar label {
  display: block;
  margin-bottom: 0;
}
#selection-toolbar ul {
  margin-left: 0;
}
#selection-toolbar li {
  list-style-type: none;
}
#selection-toolbar input[type=checkbox],#selection-toolbar input[type=radio] {
  margin-right: 6px;
}
#selection-toolbar .color-icon {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
}
#map-outer-container {
  float: none; /* not needed, just for clarification */
  /* the next props are meant to keep this block independent from the other floated one */
  width: auto;
  overflow: hidden;
  padding-right: 16px;
}
#time-lapse-toolbar {
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  padding-top: 25px;
  text-align: center;
}
#time-lapse-toolbar button, #timeSlider a, #dotControl a {
  border-color: #808080;
}

#timeSlider {
  margin: 5px;
  background: -webkit-linear-gradient(left, blue, red);
  background: -moz-linear-gradient(right, blue, red);
  background: -o-linear-gradient(right, blue, red);
  background: -ms-linear-gradient(right, blue 0%, red 100%);
  background: linear-gradient(to right, blue, red);
}
#displayDate {
  min-width: 90px;
  display: inline-block;
  text-align: right;
}
.ui-slider-tick-mark{
    display:inline-block;
    width:1px;
    background:black;
    height:12px;
    position:absolute;
}
.ui-slider-tick-mark.long{
    height:18px;
    position:absolute;
}
.ui-slider-label{
    top:12px;
    display:inline-block;
    position:absolute;
    text-align: center;
}
.ui-slider-label > span{
  text-align: center;
  margin-left: -15px;
}
#dotSlider {
  display:inline-block;
  width: 100px;
  margin: 4px;
  margin-bottom: 0;
  margin-right: 50px;
}
#dotSelect {
  margin: 6px;
  margin-right: 50px;
}
#center form#yearControlForm {
  margin-bottom: 0;
}
span#dateControlLabel {
	margin-left: 50px;
}
#dotSelect, #timeSelect {
	margin-top: 0;
}
.dateErrorWarning {
	margin-top: 4px;
	margin-left: 2px;
}
/* Repair a potential aligment problem caused by jQuery Update's UI version */
.ui-dialog .ui-dialog-titlebar-close span {
  margin-left: -8px;
  margin-top: -8px;
}
