
#controls-table {
  margin-bottom: 3px;
}
.controls-table {
  width: 100%;
}
.controls-table label {
  width: auto;
}
.controls-table .sensitive {
  font-style: italic;
}

.inline-control label {
  width: auto;
  margin-right: 30px;
  margin-left: 5px;
}

div.report-summary-controls select {
  margin-top: 0px;
}

.waiting-button {
  background: transparent url(/misc/throbber.gif) no-repeat 50% -18px !important;
}

div.jqplot-title {
	line-height: 2em;
	font-size: 2em;
}
h2#currentlyLoaded {
	text-align: center;
}
p.graph-body-warning {
	margin-top: 2em;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;
}
option.italic-option {
  font-style: italic;
}
