
#controls-table {
  margin-bottom: 3px;
}
.controls-table {
  width: 100%;
}
.controls-table label {
  width: auto;
}
.controls-table .sensitive {
  font-style: italic;
}

.inline-control label {
  width: auto;
  margin-right: 30px;
  margin-left: 5px;
}

div.report-summary-controls select {
  margin-top: 0px;
}

.waiting-button {
  background: transparent url(/misc/throbber.gif) no-repeat 50% -18px !important;
}

div.jqplot-title {
	line-height: 2em;
	font-size: 2em;
}
h2#currentlyLoaded {
	text-align: center;
}
p.graph-body-warning {
	margin-top: 2em;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;
}
option.italic-option {
  font-style: italic;
}

#primary-controls-table .form-control {
  display: block;
  width: 100%;
}
#secondary-controls-table .form-control {
  display: inline;
  width: auto;
  margin-left: 4px;
}
.controls-table .form-control {
  height: auto;
  padding: 4px;
  font-size: 1em;
}
table.controls-table .input-group-addon {
  padding: 4px;
  font-size: 1em;
}
table.controls-table > thead > tr > th {
  padding: 5px;
}
.sitetype-select {
  min-width: 110px;
}
.controls-table .btn {
  font-size: 1em;
}

.controls-table .form-group {
  margin-bottom: 0;
}
.controls-table h2 {
  color: inherit;
}
tr.title th {
  text-align: center;
}
.report-grid {
  margin-bottom: 20px;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
