/* line 16, sass/verification_5.scss */
#verification-grid {
  height: 650px;
  overflow-y: scroll;
}

/* line 22, sass/verification_5.scss */
#grids-tabs > .ui-widget-header {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  background: none;
}
/* line 28, sass/verification_5.scss */
#grids-tabs > .ui-widget-header li a {
  padding: 2px;
}
/* line 32, sass/verification_5.scss */
#grids-tabs .ui-tabs-panel {
  padding: 0;
}

/* line 37, sass/verification_5.scss */
table.report-grid {
  width: 100%;
}

/* line 54, sass/verification_5.scss */
ul.gallery li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style-type: none;
  text-align: center;
  background: none;
}

/* line 62, sass/verification_5.scss */
#action-buttons button, #action-buttons a {
  width: 16%;
  margin: 0 4% 2px 0;
  margin-bottom: 2px;
  height: 26px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  font-size: 0.9em;
  text-align: center;
  line-height: 11px;
}
/* line 74, sass/verification_5.scss */
#action-buttons a {
  padding-top: 7px;
}
/* line 77, sass/verification_5.scss */
#action-buttons #actions-less button {
  width: 36%;
}
/* line 80, sass/verification_5.scss */
#action-buttons button:nth-child(5) {
  margin-right: 0;
}
/* line 83, sass/verification_5.scss */
#action-buttons button img {
  margin: 0 1px;
}
/* line 86, sass/verification_5.scss */
#action-buttons button img:nth-child(2) {
  margin-left: 0;
}
/* line 89, sass/verification_5.scss */
#action-buttons label, #action-buttons #more-status-buttons {
  width: auto;
  vertical-align: middle;
  font-size: 10px;
}

/* line 97, sass/verification_5.scss */
.action-buttons-row .col-1 {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 101, sass/verification_5.scss */
.action-buttons-row div.buttons-row {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 108, sass/verification_5.scss */
.header .action-buttons-row div.buttons-row {
  width: auto;
}

/* line 114, sass/verification_5.scss */
#btn-email-expert, #btn-email-recorder {
  width: 36%;
}

/* line 118, sass/verification_5.scss */
#btn-email-expert {
  margin-right: 4%;
}

/* line 123, sass/verification_5.scss */
#btn-multiple.active {
  -moz-box-shadow: yellow 0 0 10px;
  -webkit-box-shadow: yellow 0 0 10px;
  box-shadow: yellow 0 0 10px;
}

/* line 127, sass/verification_5.scss */
#comment-text, #query-comment-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* line 133, sass/verification_5.scss */
.popup-form {
  width: 580px;
}
/* line 18, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 22, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  border: 1px solid #cccccc;
}
/* line 57, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password],
.popup-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text:focus, .popup-form input.title:focus, .popup-form input[type=email]:focus, .popup-form input[type=text]:focus, .popup-form input[type=password]:focus,
.popup-form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 40, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 390px;
  height: 250px;
}
/* line 40, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 555px;
}
/* line 46, ../../../../../../../../../../../Users/john/.rvm/gems/ruby-2.4.2@global/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 555px;
  height: 250px;
}
/* line 138, sass/verification_5.scss */
.popup-form label {
  display: block;
}
/* line 140, sass/verification_5.scss */
.popup-form label.error {
  width: auto;
  margin: 0 0 4px 0;
  line-height: 1em;
}
.popup-form label.auto {
  display: inline-block;
}
/* line 146, sass/verification_5.scss */
.popup-form #ctrl-wrap-redet-from-full-list label {
  display: inline-block;
}
/* line 149, sass/verification_5.scss */
.popup-form .verify-template-container label {
  display: inline-block;
}
/* line 152, sass/verification_5.scss */
.popup-form .helpText {
  margin-left: 0;
}
/* line 155, sass/verification_5.scss */
.popup-form .warning {
  line-height: 1.2em;
  -moz-box-shadow: #a00000 1px 1px 3px;
  -webkit-box-shadow: #a00000 1px 1px 3px;
  box-shadow: #a00000 1px 1px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
}
/* line 162, sass/verification_5.scss */
.popup-form.status-form legend {
  font-weight: normal;
}
/* line 164, sass/verification_5.scss */
.popup-form.status-form legend .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url(../../../media/images/statuses-sprite.png) no-repeat left center;
}
/* line 170, sass/verification_5.scss */
.popup-form.status-form legend .icon.status-V1 {
  background-position: 0px 0px;
}
/* line 173, sass/verification_5.scss */
.popup-form.status-form legend .icon.status-V2, .popup-form.status-form legend .icon.status-V {
  background-position: 0px -16px;
}
/* line 176, sass/verification_5.scss */
.popup-form.status-form legend .icon.status-C3 {
  background-position: 0px -32px;
}
/* line 179, sass/verification_5.scss */
.popup-form.status-form legend .icon.status-R4, .popup-form.status-form legend .icon.status-R {
  background-position: 0px -96px;
}
/* line 182, sass/verification_5.scss */
.popup-form.status-form legend .icon.status-R5 {
  background-position: 0px -112px;
}

/* line 189, sass/verification_5.scss */
.manual-email {
  width: 600px;
}
/* line 192, sass/verification_5.scss */
.manual-email .left {
  width: 120px;
}
/* line 195, sass/verification_5.scss */
.manual-email .right {
  width: 450px;
}

/* line 200, sass/verification_5.scss */
#instructions {
  padding: 1em;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MyZTBlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2e0ee));
  background: -moz-linear-gradient(top, #ffffff, #c2e0ee);
  background: -webkit-linear-gradient(top, #ffffff, #c2e0ee);
  background: linear-gradient(to bottom, #ffffff, #c2e0ee);
}
/* line 203, sass/verification_5.scss */
#instructions li {
  background-image: none;
  list-style: circle inside;
  padding-top: 0.1em;
}

/* line 210, sass/verification_5.scss */
#record-details-toolbar {
  padding: 2px;
  border: solid silver 2px;
  position: relative;
}

/* line 215, sass/verification_5.scss */
#record-details-tabs {
  font-size: 80%;
  position: relative;
}
#record-details-tabs .ui-tabs-panel {
  min-height: 150px;
}
/* line 222, sass/verification_5.scss */
#record-details-tabs #details-tab table td.header {
  color: #027AC6;
  font-weight: bold;
  border-bottom: solid silver 1px;
}
/* line 227, sass/verification_5.scss */
#record-details-tabs #details-tab table td.caption {
  padding: 0 1em 0 0.5em;
  font-weight: bold;
}
/* line 236, sass/verification_5.scss */
#record-details-tabs .comment .header {
  background-color: #e7e7e7;
  padding: 4px;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 242, sass/verification_5.scss */
#record-details-tabs .comment .correspondence {
  background-color: #ffffcc;
  border: solid 1px #ffff66;
  padding: 4px;
}
/* line 246, sass/verification_5.scss */
#record-details-tabs .comment .correspondence span {
  font-weight: bold;
}
/* line 253, sass/verification_5.scss */
#record-details-tabs #phenology-tab p {
  margin: 0;
}
/* line 258, sass/verification_5.scss */
#record-details-tabs #details-zoom {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 4px;
  font-size: 15px;
  cursor: pointer;
}

/* line 268, sass/verification_5.scss */
#outer-with-map.details-zoomed {
  position: relative;
}
/* line 270, sass/verification_5.scss */
#outer-with-map.details-zoomed #record-details-wrap {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0px;
  display: inline-block;
}
/* line 278, sass/verification_5.scss */
#outer-with-map.details-zoomed #record-details-wrap #record-details-tabs {
  font-size: 100%;
}
/* line 280, sass/verification_5.scss */
#outer-with-map.details-zoomed #record-details-wrap #record-details-tabs #details-zoom {
  margin: 4px 6px;
}

/* line 287, sass/verification_5.scss */
input[type="button"].tools-btn, button.tools-btn {
  padding: 0.3em;
}

/* line 292, sass/verification_5.scss */
.quick-verify-popup label {
  width: auto;
  margin-left: 2em;
}
/* line 296, sass/verification_5.scss */
.quick-verify-popup button {
  margin-top: 1em;
}
/* line 299, sass/verification_5.scss */
.quick-verify-popup .helpText {
  margin-left: 45px;
}
/* line 302, sass/verification_5.scss */
.quick-verify-popup h2, .quick-verify-popup h3 {
  margin-bottom: 4px;
}
/* line 305, sass/verification_5.scss */
.quick-verify-popup a {
  text-decoration: underline;
  margin: 0 6px;
}
/* line 308, sass/verification_5.scss */
.quick-verify-popup a:hover, .quick-verify-popup a:active {
  background-color: #ffffcc;
}

/* line 315, sass/verification_5.scss */
.verify-tools {
  display: none;
  position: absolute;
  background: white;
  border: solid silver 1px;
}
/* line 320, sass/verification_5.scss */
.verify-tools li {
  background-image: none;
  padding: 0.2em 0.5em;
}

/* line 327, sass/verification_5.scss */
tr.verified, tr.rejected, tr.total {
  text-align: right;
  padding-right: 1em;
}
/* line 331, sass/verification_5.scss */
tr.verified {
  color: #00a000;
}
/* line 334, sass/verification_5.scss */
tr.rejected {
  color: #00a000;
}
/* line 337, sass/verification_5.scss */
tr.total {
  font-weight: bold;
}

/* line 343, sass/verification_5.scss */
.grid-verify-popup button {
  margin-right: 1em;
}
/* line 346, sass/verification_5.scss */
.grid-verify-popup label, .grid-verify-popup label * {
  vertical-align: middle;
}

/* line 351, sass/verification_5.scss */
#map-loading {
  right: auto;
  bottom: auto;
  width: 32px;
  height: 32px;
}

/* line 359, sass/verification_5.scss */
#log-filter * {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: auto;
}
/* line 365, sass/verification_5.scss */
#log-filter label, #log-filter li, #log-filter input {
  margin-right: 8px;
}

/* line 372, sass/verification_5.scss */
#log-response-form .popup-form.short textarea {
  height: 100px;
}

/* line 378, sass/verification_5.scss */
div.comment-body .shrink-comment {
  float: right;
}
/* line 381, sass/verification_5.scss */
div.comment-body .unshrink-comment {
  display: none;
  float: right;
}

/* line 387, sass/verification_5.scss */
div.correspondence .shrink-correspondence {
  float: right;
}
/* line 390, sass/verification_5.scss */
div.correspondence .unshrink-correspondence {
  display: none;
  float: right;
}

/* line 395, sass/verification_5.scss */
div.comment-body.shrunk {
  max-height: 3.4em;
  overflow: hidden;
}
/* line 398, sass/verification_5.scss */
div.comment-body.shrunk .unshrink-comment {
  display: block;
}
/* line 401, sass/verification_5.scss */
div.comment-body.shrunk .shrink-comment {
  display: none;
}

/* line 405, sass/verification_5.scss */
div.correspondence.shrunk {
  max-height: 5em;
  overflow: hidden;
}
/* line 408, sass/verification_5.scss */
div.correspondence.shrunk .unshrink-correspondence {
  display: block;
}
/* line 411, sass/verification_5.scss */
div.correspondence.shrunk .shrink-correspondence {
  display: none;
}

/* line 415, sass/verification_5.scss */
.ui-tip {
  background-color: #444;
  background-image: -moz-linear-gradient(top, #444, #444);
  position: relative;
  color: #ccc;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #999;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;
  position: absolute;
}

/* line 427, sass/verification_5.scss */
.ui-tip::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}

/* line 435, sass/verification_5.scss */
.ui-tip.below-left::before {
  right: 4px;
  top: -20px;
  border-bottom: 10px solid #444;
}

/* line 441, sass/verification_5.scss */
#metadata .metadata-msg {
  font-size: 90%;
}
/* line 443, sass/verification_5.scss */
#metadata .metadata-msg.changed {
  color: orangered;
}
/* line 446, sass/verification_5.scss */
#metadata .metadata-msg.saved {
  color: green;
}
