/* line 16, sass/verification_5.scss */
#verification-grid {
  height: 650px;
  overflow-y: scroll;
}

/* line 22, sass/verification_5.scss */
#grids-tabs > .ui-widget-header {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  background: none;
}
/* line 28, sass/verification_5.scss */
#grids-tabs > .ui-widget-header li a {
  padding: 2px;
}
/* line 32, sass/verification_5.scss */
#grids-tabs .ui-tabs-panel {
  padding: 0;
}

/* line 37, sass/verification_5.scss */
table.report-grid {
  width: 100%;
}
/* line 39, sass/verification_5.scss */
table.report-grid tr:hover, table.report-grid table.report-grid tr.odd:hover {
  background-color: #ffffcc;
}
/* line 42, sass/verification_5.scss */
table.report-grid tr.selected, table.report-grid tr.selected td {
  background-color: #027AC6;
  color: white;
}
/* line 46, sass/verification_5.scss */
table.report-grid tr.zero-t {
  text-decoration: line-through;
}
/* line 49, sass/verification_5.scss */
table.report-grid .nowrap {
  whitespace: nowrap;
}

/* line 54, sass/verification_5.scss */
ul.gallery li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style-type: none;
  text-align: center;
  background: none;
}

/* line 62, sass/verification_5.scss */
#action-buttons button {
  width: 16%;
  margin: 0 4% 2px 0;
  margin-bottom: 2px;
  height: 26px;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  font-size: 0.9em;
}
/* line 72, sass/verification_5.scss */
#action-buttons #actions-less button {
  width: 36%;
}
/* line 75, sass/verification_5.scss */
#action-buttons button:nth-child(5) {
  margin-right: 0;
}
/* line 78, sass/verification_5.scss */
#action-buttons button img {
  margin: 0 1px;
}
/* line 81, sass/verification_5.scss */
#action-buttons button img:nth-child(2) {
  margin-left: 0;
}
/* line 84, sass/verification_5.scss */
#action-buttons label, #action-buttons #more-status-buttons {
  width: auto;
  vertical-align: middle;
  font-size: 10px;
}

/* line 92, sass/verification_5.scss */
.action-buttons-row .col-1 {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 96, sass/verification_5.scss */
.action-buttons-row div.buttons-row {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 103, sass/verification_5.scss */
.header .action-buttons-row div.buttons-row {
  width: auto;
}

/* line 109, sass/verification_5.scss */
#btn-email-expert, #btn-email-recorder {
  width: 36%;
}

/* line 113, sass/verification_5.scss */
#btn-email-expert {
  margin-right: 4%;
}

/* line 118, sass/verification_5.scss */
#btn-multiple.active {
  -moz-box-shadow: yellow 0 0 10px;
  -webkit-box-shadow: yellow 0 0 10px;
  box-shadow: yellow 0 0 10px;
}

/* line 122, sass/verification_5.scss */
#comment-text, #query-comment-text {
  display: block;
  width: 100%;
}

/* line 127, sass/verification_5.scss */
.popup-form {
  width: 500px;
}
/* line 18, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form label {
  font-weight: bold;
}
/* line 19, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 22, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form fieldset {
  border: 1px solid #cccccc;
}
/* line 57, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password],
.popup-form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text:focus, .popup-form input.title:focus, .popup-form input[type=email]:focus, .popup-form input[type=text]:focus, .popup-form input[type=password]:focus,
.popup-form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 40, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 390px;
  height: 250px;
}
/* line 40, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form input.text, .popup-form input.title, .popup-form input[type=email], .popup-form input[type=text], .popup-form input[type=password] {
  width: 475px;
}
/* line 46, ../../../../../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-blueprint-1.0.0/framework/blueprint/stylesheets/blueprint/_form.scss */
.popup-form textarea {
  width: 475px;
  height: 250px;
}
/* line 132, sass/verification_5.scss */
.popup-form label {
  display: block;
}
/* line 134, sass/verification_5.scss */
.popup-form label.error {
  width: auto;
  margin: 0 0 4px 0;
  line-height: 1em;
}
/* line 140, sass/verification_5.scss */
.popup-form #ctrl-wrap-redet-from-full-list label {
  display: inline-block;
}
/* line 143, sass/verification_5.scss */
.popup-form .helpText {
  margin-left: 0;
}
/* line 146, sass/verification_5.scss */
.popup-form .warning {
  line-height: 1.2em;
  -moz-box-shadow: #a00000 1px 1px 3px;
  -webkit-box-shadow: #a00000 1px 1px 3px;
  box-shadow: #a00000 1px 1px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
}

/* line 155, sass/verification_5.scss */
.manual-email {
  width: 600px;
}
/* line 158, sass/verification_5.scss */
.manual-email .left {
  width: 120px;
}
/* line 161, sass/verification_5.scss */
.manual-email .right {
  width: 450px;
}

/* line 166, sass/verification_5.scss */
#instructions {
  padding: 1em;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MyZTBlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c2e0ee));
  background: -moz-linear-gradient(top, #ffffff, #c2e0ee);
  background: -webkit-linear-gradient(top, #ffffff, #c2e0ee);
  background: linear-gradient(to bottom, #ffffff, #c2e0ee);
}
/* line 169, sass/verification_5.scss */
#instructions li {
  background-image: none;
  list-style: circle inside;
  padding-top: 0.1em;
}

/* line 176, sass/verification_5.scss */
#record-details-toolbar {
  padding: 2px;
  border: solid silver 2px;
}

/* line 181, sass/verification_5.scss */
#record-details-tabs {
  font-size: 80%;
}
/* line 187, sass/verification_5.scss */
#record-details-tabs #details-tab table td.header {
  color: #027AC6;
  font-weight: bold;
  border-bottom: solid silver 1px;
}
/* line 192, sass/verification_5.scss */
#record-details-tabs #details-tab table td.caption {
  padding: 0 1em 0 0.5em;
  font-weight: bold;
}
/* line 201, sass/verification_5.scss */
#record-details-tabs .comment .header {
  background-color: #e7e7e7;
  padding: 4px;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 210, sass/verification_5.scss */
#record-details-tabs #phenology-tab p {
  margin: 0;
}

/* line 216, sass/verification_5.scss */
input[type="button"].tools-btn, button.tools-btn {
  padding: 0.3em;
}

/* line 221, sass/verification_5.scss */
.quick-verify-popup label {
  width: auto;
  margin-left: 2em;
}
/* line 225, sass/verification_5.scss */
.quick-verify-popup button {
  margin-top: 1em;
}
/* line 228, sass/verification_5.scss */
.quick-verify-popup .helpText {
  margin-left: 45px;
}
/* line 231, sass/verification_5.scss */
.quick-verify-popup h2, .quick-verify-popup h3 {
  margin-bottom: 4px;
}
/* line 234, sass/verification_5.scss */
.quick-verify-popup a {
  text-decoration: underline;
  margin: 0 6px;
}
/* line 237, sass/verification_5.scss */
.quick-verify-popup a:hover, .quick-verify-popup a:active {
  background-color: #ffffcc;
}

/* line 244, sass/verification_5.scss */
.verify-tools {
  display: none;
  position: absolute;
  background: white;
  border: solid silver 1px;
}
/* line 249, sass/verification_5.scss */
.verify-tools li {
  background-image: none;
  padding: 0.2em 0.5em;
}

/* line 256, sass/verification_5.scss */
tr.verified, tr.rejected, tr.total {
  text-align: right;
  padding-right: 1em;
}
/* line 260, sass/verification_5.scss */
tr.verified {
  color: #00a000;
}
/* line 263, sass/verification_5.scss */
tr.rejected {
  color: #00a000;
}
/* line 266, sass/verification_5.scss */
tr.total {
  font-weight: bold;
}

/* line 272, sass/verification_5.scss */
.grid-verify-popup button {
  margin-right: 1em;
}
/* line 275, sass/verification_5.scss */
.grid-verify-popup label, .grid-verify-popup label * {
  vertical-align: middle;
}
